Repository Tenexium/tenex-subnet, pull requests merged in 2025-10, with the labels that each got.

#47 Feat: storage check
  .storage-layouts/BuybackManager.json
  .storage-layouts/FeeManager.json
  .storage-layouts/LiquidationManager.json
  .storage-layouts/LiquidityManager.json
  .storage-layouts/PositionManager.json
  .storage-layouts/PrecompileAdapter.json
  .storage-layouts/SubnetManager.json
  .storage-layouts/TenexiumProtocol.json
  .storage-layouts/TenexiumStorage.json
  hardhat.config.ts
  package-lock.json
  package.json
  test/testnet/contract_check.ts
Labels: 3-test-enhancement, 3-test-security, 3-test-feature

#49 chore: remove redundant getters to reduce bytescode
  contracts/modules/BuybackManager.sol
  contracts/modules/LiquidationManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-no-ops

#50 chore: hot fix parsing for scientific notation in contract check
  test/testnet/contract_check.ts
Labels: 3-test-enhancement, 3-test-hotfix

#51 feat: add multisig wallet
  contracts/governance/MultiSigWallet.sol
  hardhat.config.ts
  tasks/multisig.ts
Labels: 1-smart contract-enhancement, 1-smart contract-security, 2-deployment-enhancement, 1-smart contract-feature, 2-deployment-feature

#53 chore: fix ss58 usage and remove getters
  contracts/core/TenexiumEvents.sol
  contracts/core/TenexiumProtocol.sol
  contracts/modules/PrecompileAdapter.sol
Labels: 1-smart contract-bug, 1-smart contract-enhancement

#57 refactor: multisig wallet with confirmation guard for all owner actions
  contracts/governance/MultiSigWallet.sol
  tasks/multisig.ts
Labels: 1-smart contract-enhancement, 1-smart contract-security, 2-deployment-enhancement

#58 fix: add block based timelock in multisig
  contracts/governance/MultiSigWallet.sol
  contracts/governance/TenexTimelock.sol
  hardhat.config.ts
  tasks/multisig.ts
  tasks/timelock.ts
Labels: 1-smart contract-enhancement, 2-deployment-enhancement, 1-smart contract-feature

#62 chore: fix updateUtilizationRate func
  contracts/modules/PositionManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-hotfix

#63 fix: update borrowing fee calc logic and cleanup
  contracts/core/TenexiumEvents.sol
  contracts/core/TenexiumProtocol.sol
  contracts/core/TenexiumStorage.sol
  contracts/libraries/TenexiumErrors.sol
  contracts/modules/BuybackManager.sol
  contracts/modules/LiquidationManager.sol
  contracts/modules/LiquidityManager.sol
  contracts/modules/PositionManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-no-ops, 1-smart contract-hotfix

#64 chore: tidy distribution fee funcs
  contracts/modules/FeeManager.sol
  contracts/modules/PositionManager.sol
Labels: 1-smart contract-enhancement

#65 chore: remove liquidator claim
  contracts/core/TenexiumEvents.sol
  contracts/core/TenexiumProtocol.sol
  contracts/modules/FeeManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-no-ops, 1-smart contract-hotfix

#67 fix: liquidation logic and add variables for liquidator tracking
  contracts/core/TenexiumProtocol.sol
  contracts/core/TenexiumStorage.sol
  contracts/modules/LiquidationManager.sol
  test/testnet/getters.ts
Labels: 1-smart contract-enhancement, 1-smart contract-hotfix, 1-smart contract-feature

#68 chore: clean fee manager funcs
  contracts/core/TenexiumProtocol.sol
  contracts/modules/FeeManager.sol
  contracts/modules/PositionManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-no-ops

#69 chore: apply burning mechanism for buyback
  contracts/core/TenexiumProtocol.sol
  contracts/core/TenexiumStorage.sol
  contracts/libraries/TenexiumErrors.sol
  contracts/modules/BuybackManager.sol
  contracts/modules/PrecompileAdapter.sol
Labels: 1-smart contract-enhancement, 1-smart contract-feature

#70 refactor: buyback mechanism
  contracts/core/TenexiumProtocol.sol
  contracts/modules/BuybackManager.sol
  tasks/deploy-config-mainnet.ts
  tasks/deploy-config-testnet.ts
  tasks/deploy-final.ts
Labels: 1-smart contract-enhancement, 1-smart contract-hotfix, 2-deployment-enhancement, 2-deployment-hotfix

#71 feat: multisigner reward allocation
  contracts/core/TenexiumProtocol.sol
  contracts/interfaces/IMultiSigWallet.sol
  test/testnet/contract_check.ts
Labels: 1-smart contract-enhancement, 1-smart contract-feature

#73 feat: add liquidation threshold for alpha pairs
  contracts/core/TenexiumProtocol.sol
  contracts/core/TenexiumStorage.sol
  contracts/modules/LiquidationManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-feature

#74 chore: add LP recover and perfFee for traders
  contracts/modules/FeeManager.sol
  contracts/modules/PositionManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-feature

#75 fix: remove unused lib funcs
  contracts/core/TenexiumProtocol.sol
  contracts/libraries/RiskCalculator.sol
  contracts/modules/FeeManager.sol
  contracts/modules/LiquidationManager.sol
  contracts/modules/LiquidityManager.sol
  contracts/modules/PositionManager.sol
Labels: 1-smart contract-enhancement, 1-smart contract-no-ops, 1-smart contract-hotfix
